body,
body *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    width: 100%;
    min-height: 100vh;
}
:root{
    --main-color: #03a9f4;
    --secondary-color: #ea1e63;
}
.bg-main{
    background-image: url(../../img/fonas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-secondary{
    background-color: var(--secondary-color);
}