body,
body *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    width: 100%;
}
:root{
    --main-color: #03a9f4;
    --secondary-color: #ea1e63;
}
.bg-main{
    background-color: var(--main-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}