.flex-container{
    padding: 80px 25% 0 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.logo{
    height: 60px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 25px;
}

.top-h1{
    font-size: 75px;
    text-transform: uppercase;
}
.top-p{
    font-size: 28px;
}
.clock{
    color: white;
    margin: 60px 0;
}
.mouse{
    margin: 0 0 20px 0;
}
.mid-flex-container{
    background-color: antiquewhite;
    margin: 0 25% 0 25%;
    display: flex;
    height: 100vh;
    flex-flow: row wrap;
    gap: 5px;
    justify-content:space-between;
    align-items: center;
}
.buttonup{
    position:relative;
    padding: 10px;
    bottom: -20px;
}

.tempcube{
    width: 45%;
    height: 50%;
    background-color: aqua;
}