/* hero section start */
.flex-container{
    padding: 80px 20% 0 20%;
    display: flex;
    flex-direction: column;
    height: 98vh;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 50px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 25px;
}

.top-h1{
    font-size: 60px;
    text-transform: uppercase;
}
.top-p{
    font-size: 24px;
}
.clock{
    color: white;
    margin: 60px 0;
}
.mouse{
    margin: 0 0 20px 0;
}
@media (max-width:800px){
    .top-h1{
        font-size: 50px;
    }
    .logo{
        height: 40px;
        width: 100%;
    }
}
@media (max-width:720px){
    .top-p{
        font-size: 20px;
    }
    .top-h1{
        font-size: 42px;
    }
    .logo{
        height: 30px;
        width: 100%;
    }
}
@media (max-width:560px){
    .top-p{
        font-size: 14px;
    }
    .top-h1{
        font-size: 34px;
    }
    .logo{
        height: 30px;
        width: 100%;
    }
    .flex-container{
        padding: 80px 15% 0 15%;
    }
}
@media (max-width:420px){
    .top-p{
        font-size: 14px;
    }
    .top-h1{
        font-size: 34px;
    }
    .logo{
        height: 30px;
        width: 100%;
    }
    .flex-container{
        padding: 80px 5% 0 5%;
    }
}
.top-form-container{
    width: 70%;
}
/* Hero section end */

/* Mid section start */
.mid-flex-container{
    background-color: antiquewhite;
    margin: 0 25% 0 25%;
    display: flex;
    height: 80vh;
    flex-flow: row wrap;
    gap: 5px;
    justify-content:space-between;
    align-items: center;
}
.tempcube{
    width: 45%;
    height: 50%;
    background-color: aqua;
}

/* Mid section End */