.socials{
    position: relative;
}
.socials > .up{
    position:absolute;
    background-color: var(--secondary-color);
    top:-20px;
    right:0;
    border: 2px solid var(--secondary-color);
    font-size: 20px;
}
.socials > .up:hover{
    border:2px solid white;
}
@media(max-width:1150px){
    .socials > .up{
        display:none;
    }
}